{% extends "@GlsUniBox/labels.html.twig" %}


{% block head %}
<style type="text/css">
    /*@font-face {
            font-family: 'Swiss 721 Condensed BT';
            font-style: normal;
            font-weight: normal;
            src: local('Swiss 721 Condensed BT'), url('{{ asset('bundles/glsunibox/fonts/Swiss721CondensedBT.woff') }}') format('woff');
    }
    body {
        font-family: "Swiss 721 Condensed BT", Arial, sans-serif;
    }*/

    .label {
        background-color: transparent;
    }

    #img-model {
        position: absolute;
        top: 0;
        left: 5mm;
        opacity: .4;
        width: 92mm;
        height: auto;
        z-index: -1;
    }

    #debug {
        position: absolute;
        top: 160mm;
    }
    </style>
{% endblock head %}


{% block body %}
    <img src="{{ absolute_url(asset('/bundles/ekynaglsunibox/img/label-example.gif')) }}" id="img-model">

    {% if 0 < labels|length %}
        <div id="debug">
            {{ dump(labels|first) }}
        </div>
    {% endif %}
{% endblock body %}
